.main {
    height: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main__title {
    color: black;
    font-size: 25px;
}
.input {
    background-color: rgba(255, 255, 255, 0.1);;
    border: 2px solid black;
    border-radius: 30px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 40px;
    padding: 0px 20px;
    width: 60%;
    outline: none;

}
::placeholder {
    color: black;
}